{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block content %}
<h2>Signup</h2>
<form action="/signup" method="POST">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" required><br><br>

  <label for="age">Age:</label><br>
  <input type="text" id="age" name="age" required><br><br>

  <label for="experience">Experience(comma seperated):</label><br>
  <input type="text" id="experience" name="experience" required><br><br>

  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" required><br><br>

  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" required><br><br>

  <button type="submit">Signup</button>
</form>
{% endblock %}
